<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="resetPassword()">
    <ion-item>
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="resetData.usuario" name="usuario" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="resetData.email" name="email" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Enviar Solicitud</ion-button>
  </form>

  <!-- Mensaje de respuesta de la API -->
  <div *ngIf="mensajeRespuesta" class="respuesta-api">
    <p>{{ mensajeRespuesta }}</p>
  </div>
  <ion-button fill="outline" color="medium" [routerLink]="['/login']">Regresar</ion-button>

</ion-content>
