<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Estado de Deuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tu Deuda Actual</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Total: RD$ {{ deuda?.monto || '0.00' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Última Actualización: {{ deuda?.fechaActualizacion | date: 'short' || 'N/A' }}</ion-label>
      </ion-item>
      <ion-button expand="block" color="success" [href]="linkPago" *ngIf="deuda?.pagada === false">
        Pagar Ahora
      </ion-button>
      <ion-item *ngIf="deuda?.pagada">
        <ion-label color="success">¡Deuda Pagada!</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="error">
    <ion-card-header>
      <ion-card-title>Error</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ error }}</p>
    </ion-card-content>
  </ion-card>
  <ion-button fill="clear" routerLink="/main-menu" class="title-button"> Regresar </ion-button>

</ion-content>
