<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Deudas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Indicador de carga -->
  <div class="loading-container" *ngIf="loading">
    <ion-spinner></ion-spinner>
    <p>Cargando deudas, por favor espera...</p>
  </div>

  <!-- Lista de deudas -->
  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let deuda of deudas" lines="full">
      <ion-label>
        <h2>ID: {{ deuda.id }}</h2>
        <p>Monto: {{ deuda.monto | currency }}</p>
        <p>
          Pagada: 
          <ion-icon
            name="checkmark-circle"
            color="success"
            *ngIf="deuda.pagada"
          ></ion-icon>
          <ion-icon
            name="close-circle"
            color="danger"
            *ngIf="!deuda.pagada"
          ></ion-icon>
        </p>
        <p>Fecha de Actualización: {{ deuda.fechaActualizacion | date }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Botón de regresar -->
  <div class="button-container">
    <ion-button fill="solid" color="primary" [routerLink]="['/main-menu']">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
      Regresar
    </ion-button>
  </div>
</ion-content>
