<ion-header>
  <ion-toolbar>
    <ion-title>Deudas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let deuda of deudas">
      <ion-label *ngIf="deuda">
        <h2>ID: {{ deuda.id }}</h2>
        <p>Monto: {{ deuda.monto | currency }}</p>
        <p>Pagada: {{ deuda.pagada ? 'Sí' : 'No' }}</p>
        <p>Fecha de Actualización: {{ deuda.fechaActualizacion | date }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button fill="outline" color="medium" [routerLink]="['/landing']">Regresar</ion-button>

  
</ion-content>
