<ion-header>
  <ion-toolbar color="primary">
    <ion-title> <ion-button fill="clear" routerLink="/landing" class="title-button"> UASD </ion-button></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="landing-container">
    <img src="assets/uasd-logo.png" alt="UASD Logo" class="uasd-logo" />
    <h1>Misión, Visión y Valores</h1>
    <p>
      Bienvenidos a la aplicación de la UASD. Aquí encontrarás toda la
      información relevante para tu vida académica.
    </p>
    <ion-button expand="full" routerLink="/login" color="secondary">
      Acceder
    </ion-button>
  </div>
</ion-content>
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

