<ion-header>
  <ion-toolbar>
    <ion-title>Mis Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>

  <ion-list *ngIf="!loading && tareas.length > 0">
    <ion-item *ngFor="let tarea of tareas" [color]="tarea.completada ? 'success' : (isNearDeadline(tarea.fechaVencimiento) ? 'warning' : 'light')">
      <ion-label>
        <h2>{{ tarea.titulo }}</h2>
        <p>{{ tarea.descripcion }}</p>
        <p><strong>Fecha de vencimiento:</strong> {{ tarea.fechaVencimiento | date: 'short' }}</p>
        <p><strong>Estado:</strong> {{ tarea.completada ? 'Completada' : 'Pendiente' }}</p>
        <ion-button size="small" color="primary" expand="block" href="https://moodle.uasd.edu.do" target="_blank">
          Aula Virtual
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-label *ngIf="!loading && tareas.length === 0" class="ion-text-center">
    No hay tareas disponibles.
  </ion-label>
  <div class="button-container">
    <ion-button fill="solid" color="primary" [routerLink]="['/main-menu']">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
      Regresar
    </ion-button>
  </div>
</ion-content>
