<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="register()">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="user.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="user.apellido" name="apellido" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nombre de Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="user.username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="user.email" name="email" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Registrar</ion-button>
  </form>
  <ion-button fill="outline" color="medium" [routerLink]="['/login']">Regresar</ion-button>

</ion-content>
